<a href="https://colab.research.google.com/github/VasaviLagishetty/MachineLearning/blob/master/Association%20Rule%20Learning/Eclat/Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install pyfim

Collecting pyfim
  Downloading https://files.pythonhosted.org/packages/b4/af/6a0e2e9cb2dad10f94859ce198a81c2d9e98af75263a14a912ff9a0cdb75/pyfim-6.28.tar.gz (357kB)
     |████████████████████████████████| 358kB 2.8MB/s
Building wheels for collected packages: pyfim
  Building wheel for pyfim (setup.py) ... done
  Created wheel for pyfim: filename=pyfim-6.28-cp36-cp36m-linux_x86_64.whl size=536915 sha256=0ed6beeda7e77451f385459b8b19f0ef1865742569fa07adc79218f29486fdaa
  Stored in directory: /root/.cache/pip/wheels/19/ac/b4/9ae8ceb2208d78b21b1157f8561cc4469d236b7d785e7422f1
Successfully built pyfim
Installing collected packages: pyfim
Successfully installed pyfim-6.28

# Eclat

## Importing the libraries

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data Preprocessing

In [6]:
url = "https://raw.githubusercontent.com/VasaviLagishetty/MachineLearning/master/Association%20Rule%20Learning/Eclat/Market_Basket_Optimisation.csv"
dataset = pd.read_csv(url,header=None)
dataset.head(5)

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [7]:
dataset.shape

(7501, 20)